Course_Management_Project/src/main/java/courses/courseDetail.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/courses"
xmlns:tns="http://example.com/courses" elementFormDefault="qualified">
    <xs:element name="GetCourseDetailRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCourseDetailResponse" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CourseDetails" type="tns:CourseDetails"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>




    <xs:element name="DeleteCourseDetailRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteCourseDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="GetAllCourseDetailRequest" >
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllCourseDetailResponse" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CourseDetails" type="tns:CourseDetails" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="CourseDetails">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>